# Example systemd unit file for tofurkey
[Unit]
Description=tofurkey
After=local-fs.target
After=network.target
After=time-sync.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=/usr/sbin/tofurkey -v -k /etc/tofurkey.key
